/* There will be consequences if this stylesheet gets messed up Edward */

/* =============== */
/* = General CSS = */
/* =============== */





* { margin:0; padding:0; border:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

body { background: #fff; background: url('images/bg.png') fixed repeat; color:#888; font-family:'Capriola',helvetica, arial, sans-serif;}

blockquote {
background:url(images/quote.gif) no-repeat top left;
padding:0 0 0 60px;
min-height:50px;
}

a { color:#03567e; text-decoration:none; font-weight:bold;}
a:hover { text-decoration:underline;}
a:active { color:#666;}

h1, h2, h3, h4, h5, h6 { color:#666; font-weight:normal; letter-spacing:--0.5px;}
h1 { font-size:40px; font-weight:normal;}

.title  { font-size:60px;}

h2 { font-size:30px; margin-bottom:34px;}
h2 + p { margin-top:30px;}
p + p { margin-top:-10px;}
p + ul { margin-top:-16px;}
h2 + ul { margin-top:-20px;}

h3 { font-size:20px; margin-top:-10px;margin-bottom:3px;}
h4 { font-size:16px;font-weight:bold; }

p { margin:0 0 25px 0; line-height:1.4em; font-size:18px; letter-spacing:0.5px;}
ul { margin:0 0px 15px 0;  }
li { margin:0 0 10px 15px; list-style:square; font-size:18px; line-height:1.4em; letter-spacing:0.5px;}



/* ========== */
/* = Layout = */
/* ========== */


#wrapper { background:url('images/grad-sphere.png') fixed no-repeat center top}
#content { width:75%; margin:0 auto; padding:100px 0 0 0; }

ul#nav { float:left; top:60px; margin-left:-40px;}
ul#nav li { list-style:none; font-size:16px; margin:0 0 15px 0; text-shadow:1px 1px 2px #fff; text-align: right;}
ul#nav li a {  padding:0px 8px 0	px 0; margin-bottom:0px; display:inline-block; text-align: right;}

.block { border-bottom:1px solid #222; margin: 40px 0; padding:50 0 50px 0;}
.block:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

.headerblock {margin:30px; width:253px; text-align:center; float:left }
.twitterblock {margin:10px; width:253px; text-align:center; float:left }
.logo { padding-bottom:30px;}

.usecase_title { text-align:right}

/* the grid 
.col-1, .col-2, .col-3, .col-4, .col-4-5, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {margin-right:35px; float:left;}
.col-12 { margin-right:0px;}

.col-12 {width:925px;}
.col-11 {width:845px;}
.col-10 {width:765px;}
.col-9 {width:685px;}
.col-8 {width:605px;}
.col-7 {width:525px;}
.col-6 {width:445px;}
.col-5 {width:365px;}
.col-4-5 {width:325px;}
.col-4 {width:285px;}
.col-3 {width:205px;}
.col-2 {width:125px;}
.col-1 {width:45px;}  
**/

.last {margin-right:0 !important;}
.content-shifter { float:right; width:75%; }

/* =============================================== */
/* = Individual Pages (or sections) = */
/* =============================================== */

.intro h1 { font-weight:normal; line-height:1.11em; margin-bottom:10px; color:#666;}
.intro h2 { font-size:50px; color:#03567e;  font-weight:bold;}
.intro ul { 
	padding-left: 30px;
}

.examples { margin-bottom:16px;}
.examples .col-3 { overflow:hidden;}
.examples .col-3 a { color:#aaa; font-size:16px; line-height:1.31em; position:relative;}
.examples .col-3 a strong { display:block; color:#666;font-size:16px; margin:0 0 2px 0;}
.examples .col-3 a em { color:#03567e; font-family:georgia,serif; display:block; margin:2px 0 0 0; }
.examples .col-3 a span { background:rgb(0,0,0);  background:rgba(0,0,0,0.9); display:block; top:-90px; position:absolute; padding:15px 8px;}
.examples .col-3 a:hover { opacity:0.5;}

.who h3 { color:#666; font-weight:bold; }
.who h3 img { position:relative; top:6px; margin-right:3px;}

.getstarted { padding-bottom:35px; }
.getstarted h3 { display:inline; font-weight:bold; text-transform:uppercase; font-size:16px;}
.getstarted p { display:inline;}



.talk .col-3 strong { color:#666; display:block; margin-bottom:3px; }
.talk ul { margin-bottom:45px;}


.footer  { margin-top:-30px; text-transform:uppercase; font-size:11px; padding-bottom:80px;}
.footer p { font-size:inherit;}
.footer .col-6 p { font-size:inherit; color:#444;}
.footer .col-3 p { text-align:right; opacity:1;}

.titletext {color:#03567e; text-align:right;}

.btn-success {
font-size: 21px;
padding: 14px 24px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #5bb75b;
background-image: -moz-linear-gradient(top, #62c462, #51a351);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
background-image: -webkit-linear-gradient(top, #62c462, #51a351);
background-image: -o-linear-gradient(top, #62c462, #51a351);
background-image: linear-gradient(to bottom, #62c462, #51a351);
background-repeat: repeat-x;
border-color: #51a351 #51a351 #387038;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

